@page
@model IndexModel
@using Rocks.Model
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Round: @Model.Round</p>
    <p>Player: @Model.Player | Computer: @Model.Computer</p>
    <p>Wins: @Model.Wins | Remízy: @Model.Draw |Lose: @Model.Lose</p>
    <p>Rock: @Model.Rock | Scissors: @Model.Scissors | Paper: @Model.Paper</p>
</div>
<div>
    <form method="post">
        <input type="hidden" asp-for="@Model.Round" value="@Model.Round" />
        <input type="hidden" asp-for="@Model.Wins" value="@Model.Wins" />
        <input type="hidden" asp-for="@Model.Lose" value="@Model.Lose" />
        <input type="hidden" asp-for="@Model.Draw" value="@Model.Draw" />
        <input type="hidden" asp-for="@Model.Paper" value="@Model.Paper" />
        <input type="hidden" asp-for="@Model.Scissors" value="@Model.Scissors" />
        <input type="hidden" asp-for="@Model.Rock" value="@Model.Rock" />
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Rock">
            <label class="form-check-label" asp-for="@Model.Player">Kámen</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Scissors">
            <label class="form-check-label" for="inlineRadio2">Scissors &#960;</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Player" value="@Choice.Paper">
            <label class="form-check-label" asp-for="@Model.Player">Paper</label>
        </div>
        <button type="submit" class="btn btn-dark">Play</button>
    </form>
</div>
